spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show_sql: true

  sql:
    init:
      mode: always

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6432/store-db
    username: shopstore
    password: shopstore

logging:
  level:
    ru.yandex.practicum.shoppingstore.controller: DEBUG
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG